* {
    margin: 0;
    box-sizing: border-box;
}

:root {

    --primary-color: hsl(0, 0%, 100%);
    --secundary-color: hsl(58, 100%, 56%);
    --background-color: hsl(0, 0%, 0%);
    --whatsapp-color: hsl(0, 0%, 0%);
    --text-color: hsl(0, 0%, 0%);
    --paragraph-color: hsl(0, 0%, 29%);
    --nav-height: 7.2rem;
    --background-menu-color: #222222;

    font-size: 62.5%;
}

body {
    font-family: 'DM Sans';
    font-size: 1.6rem;
    text-align: center;
}

header {
    margin-top: calc(4.1rem + var(--nav-height));
}

h4 {
    font-size: 1.4rem;
    color: var(--primary-color);
    margin-bottom: 1.6rem;
}

h1 {
    font-size: 3.4rem;
    color: var(--secundary-color);
    margin-bottom: 2.4rem;
}

h3 {
    color: var(--text-color);
}

p {
    color: var(--paragraph-color);
}

.text {
    font-size: 1.8rem;
    line-height: 150%;
    font-weight: 400;
    color: var(--primary-color);
    margin-bottom: 3.2rem;
}

button {
    background:  var(--primary-color);
    border: 2px solid var(--secundary-color);
    border-radius: 4rem;
    margin-bottom: 6rem;
    height: 6.2rem;
    width: 26.3rem;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    margin-right: auto;
    margin-left: auto;
}

.stats {
    width: 32.7rem;
    padding-block: 4rem;
    margin-inline: auto;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6rem;
    border: 2px solid var(--secundary-color);
    border-radius: 2rem;
}

.stat p {
    margin: 0;
    font-size: 1.6rem;
    line-height: 150%;
}

.stat h3 {
    font-size: 4.8rem;
    line-height: 130%;
    margin-bottom: 0.4rem;
}

header img {
    width: 35.4rem;
    display: block;
    margin-inline: auto;
    object-position: 0.3rem;
}

header::before {
    content: "";
    width: 100vw;
    height: calc(108rem + var(--nav-height));
    background-color: var(--background-color);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

nav {
    display: flex;
    height: var(--nav-height);
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.wrapper {
    width: 37.5rem;
    margin-inline: auto;
    padding-inline: 2.4rem;
}

nav .wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav.scroll {
    background: var(--background-menu-color);
    width: 100vw;
}